@import "../globalStyles/fonts.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244,245,249);
    display: grid;
    justify-content: center;
    font-family: 'PTSansWebRegular';
}

svg {
    height: 100%;
    width: 100%;
}
